seis/workflows/execution-fabric-property-v1.2.json
{
  "name": "SECC-OS — Execution Fabric v1.2 (Property + Contract Gate + Audit)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secc-os/execution-fabric",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Decision Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// GUARDiAN GATE — idempotency hash + field/risk validation.\n// Output: decision + guardian{status,reason,risk_score} + execution_hash.\nconst raw = $input.first().json;\nconst d = raw.body || raw;\nfunction hash(str){let h=5381;for(let i=0;i<str.length;i++){h=((h<<5)+h)+str.charCodeAt(i);h=h&0xffffffff;}return 'exh_'+(h>>>0).toString(16);}\nconst required = ['decision_id','domain','recommended_action','routing'];\nconst missing = required.filter(k => d[k] == null);\nconst systems = (d.routing && d.routing.systems) || [];\nconst execution_hash = hash(JSON.stringify({ id: d.decision_id, sys: systems, action: d.recommended_action }));\nlet status='approved', reason='passed guardian checks', risk=0.2;\nif (missing.length) { status='rejected'; reason='missing fields: '+missing.join(', '); risk=1.0; }\nelse if (String(d.domain).toLowerCase() !== 'property') { status='rejected'; reason='Execution Fabric v1 is Property-only'; risk=0.9; }\nelse if (/financial|pricing|rent|fee/i.test(d.recommended_action)) { status='requires_review'; reason='financial change requires human approval'; risk=0.7; }\n// NOTE: real idempotency dedupe should look up execution_hash in a persistent store\n// (Notion/Redis) and set status='rejected' (duplicate) if already executed.\nreturn [{ json: { ...d, guardian: { status, reason, risk_score: risk }, execution_hash } }];"
      },
      "id": "node-guardian",
      "name": "GUARDiAN Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.guardian.status }}",
              "rightValue": "approved",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── CONTRACT VALIDATOR ───────────────────────────────────────────────\n// Inline, READ-ONLY snapshot of the frozen Enterprise Contract Registry v2.0\n// (outputs/contracts/, frozen 2026-06-22). n8n cannot import repo files, so the\n// constitution is EMBEDDED here. If the registry version bumps, re-sync this block\n// (it is the only place the runtime can read the contracts).\n//\n// Enforces what GUARDiAN does NOT: contract conformance of the decision BEFORE\n// execution. Invalid => hard reject (status REJECTED_CONTRACT_VIOLATION), skip\n// execution, still written to the audit log. Contracts CONTROL whether execution\n// is allowed — they no longer merely describe behavior.\nconst CONTRACTS = {\n  registry: 'Enterprise Contract Registry',\n  version: '2.0',\n  frozen_at: '2026-06-22',\n  // domain-registry.json — immutable domain IDs (id is the join key, never the display name)\n  domain_ids: ['built','digital','human','industrial','governance','enterprise','property','innovation','energy','knowledge'],\n  domain_names: { // lowercased display name -> id (to catch name-used-as-id)\n    'built environment & physical assets':'built','digital systems & software execution':'digital',\n    'human services & care systems':'human','industrial & supply chain systems':'industrial',\n    'governance & public systems':'governance','enterprise business operations':'enterprise',\n    'property, facilities & asset operations':'property','innovation, venture & product systems':'innovation',\n    'energy & environmental systems':'energy','knowledge & institutional systems':'knowledge'\n  },\n  // metric-registry.json — canonical keys + alias -> canonical (drift prevention)\n  metric_keys: ['occupied_pct','leased_pct','trend_pct','total_units','available','vacant_unrented','down','average_rent','average_sqft','workorders_overdue','workorders_unassigned','lead_reply_sec','sms_chat_sec','calls','process_completed','process_pending','process_total','process_performance_pct','cpi','spi_trend','schedule_pct_complete','budget_health_pct','open_rfis_overdue'],\n  metric_aliases: { 'occpct':'occupied_pct','occupancy':'occupied_pct','occpercent':'occupied_pct','occupancy %':'occupied_pct','leasedpct':'leased_pct','trendpct':'trend_pct','units':'total_units','vacantunrented':'vacant_unrented','averagerent':'average_rent','averagesqft':'average_sqft','overdue':'workorders_overdue','unassigned':'workorders_unassigned','leadreply':'lead_reply_sec','smschat':'sms_chat_sec','completed':'process_completed','pending':'process_pending','total':'process_total','performance':'process_performance_pct' }\n};\n\nconst d = $input.first().json;\nconst violations = [];\n\n// decision-contract: decision_id required (dedupe key)\nif (d.decision_id == null || d.decision_id === '') violations.push('missing_field:decision_id');\n\n// decision-contract: entity_key REQUIRED — date-independent Decision->Outcome attribution join\nif (d.entity_key == null || d.entity_key === '') violations.push('missing_field:entity_key');\n\n// domain-registry: domain must be a registry ID, not a display name, not ad-hoc\nconst domainRaw = d.domain == null ? '' : String(d.domain).trim();\nconst domainLc = domainRaw.toLowerCase();\nif (!domainRaw) {\n  violations.push('missing_field:domain');\n} else if (!CONTRACTS.domain_ids.includes(domainLc)) {\n  if (CONTRACTS.domain_names[domainLc]) violations.push(\"domain_must_be_id_not_name:'\"+domainRaw+\"'->'\"+CONTRACTS.domain_names[domainLc]+\"'\");\n  else violations.push(\"domain_not_in_registry:'\"+domainRaw+\"'\");\n}\n\n// metric-registry: if a metric is named, it must be the canonical key (not alias / unknown)\nconst metricRaw = d.metric == null ? '' : String(d.metric).trim();\nif (metricRaw) {\n  const metricLc = metricRaw.toLowerCase();\n  if (!CONTRACTS.metric_keys.includes(metricRaw)) {\n    if (CONTRACTS.metric_aliases[metricLc]) violations.push(\"metric_not_canonical:'\"+metricRaw+\"'->'\"+CONTRACTS.metric_aliases[metricLc]+\"'\");\n    else violations.push(\"metric_unknown:'\"+metricRaw+\"'\");\n  }\n}\n\n// decision-contract: confidence, if present, must be 0..1\nif (d.confidence != null && (typeof d.confidence !== 'number' || d.confidence < 0 || d.confidence > 1)) {\n  violations.push(\"confidence_out_of_range:'\"+d.confidence+\"'\");\n}\n\nconst valid = violations.length === 0;\nconst contract = {\n  valid,\n  registry: CONTRACTS.registry,\n  registry_version: CONTRACTS.version,\n  registry_frozen_at: CONTRACTS.frozen_at,\n  violations,\n  status: valid ? 'contract_valid' : 'REJECTED_CONTRACT_VIOLATION',\n  validated_at: new Date().toISOString()\n};\nreturn [{ json: { ...d, contract, timestamp: d.timestamp || contract.validated_at } }];"
      },
      "id": "node-contract-validator",
      "name": "Contract Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "notes": "Inline snapshot of frozen Enterprise Contract Registry v2.0 (outputs/contracts/). n8n cannot import repo files; re-sync this block on any registry version bump. Enforces contracts BEFORE execution — invalid decisions are hard-rejected and never reach the executor."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.contract.status }}",
              "rightValue": "contract_valid",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-contract-if",
      "name": "Contract Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// EXECUTE PROPERTY ACTIONS — routes the decision to system actions.\n// v1: SIMULATED success. Replace each block with a real HTTP Request / Notion\n// node when Yardi (Voyager API) + CRM IQ (fresh loginguid) access is available.\nconst d = $input.first().json;\nconst action = String(d.recommended_action || '').toLowerCase();\nconst executed = [];\n\n// Maintenance acceleration → Yardi work orders\n// REAL: POST {yardi}/workorders/create  { priority, unit, category, notes }\nif (/maintenance|backlog/.test(action)) {\n  executed.push({ system:'Yardi', action:'reprioritize_work_orders', payload:{ priority:'high', category:'turnover acceleration', notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\n// Leasing acceleration → CRM IQ tasks\n// REAL: POST {crmiq}/tasks  { type:'leasing_follow_up', cadence:'increased' }\nif (/leasing|outreach|tour/.test(action)) {\n  executed.push({ system:'CRM_IQ', action:'create_task_batch', payload:{ type:'leasing_follow_up', cadence:'increased', notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\n// Vacancy / unit readiness → Yardi unit status\nif (/occupancy|vacancy|readiness|turnover/.test(action)) {\n  executed.push({ system:'Yardi', action:'update_unit_readiness', payload:{ notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\nif (!executed.length) executed.push({ system:'none', action:'noop', result:'no_matching_route' });\n\n// Notion audit record (persisted downstream by the 'Save Audit — Executed' Notion node)\nconst audit = {\n  decision_id: d.decision_id,\n  actions: executed,\n  systems: [...new Set(executed.map(e => e.system))],\n  execution_hash: d.execution_hash,\n  timestamp: new Date().toISOString()\n};\nreturn [{ json: { ...d, executed, audit } }];"
      },
      "id": "node-execute",
      "name": "Execute Property Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// EXECUTION VERIFICATION — confirm each action landed.\nconst d = $input.first().json;\nconst acts = d.executed || [];\nconst verified = acts.filter(e => e.result === 'success');\nconst failed = acts.filter(e => e.result !== 'success' && e.system !== 'none');\nlet execution_status = 'success';\nif (failed.length && verified.length) execution_status = 'partial';\nelse if (!verified.length) execution_status = 'failed';\nreturn [{ json: { ...d, verification: { execution_status, verified_actions: verified.map(v => v.system+':'+v.action), failed_actions: failed.map(f => f.system+':'+f.action) } } }];"
      },
      "id": "node-verify",
      "name": "Verify Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CIRO FEEDBACK — the record that feeds the Outcome Attribution layer.\nconst d = $input.first().json;\nconst feedback = {\n  decision_id: d.decision_id,\n  domain: d.domain,\n  execution_result: d.verification.execution_status,\n  systems_updated: d.verification.verified_actions,\n  execution_hash: d.execution_hash,\n  guardian: d.guardian,\n  contract: d.contract,\n  audit: d.audit,\n  timestamp: new Date().toISOString(),\n  status: d.verification.execution_status === 'success' ? 'verified' : 'review'\n};\nreturn [{ json: feedback }];"
      },
      "id": "node-feedback",
      "name": "Build CIRO Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "002cc2e2-7033-4abd-9797-0af99d8c2cec",
          "mode": "id"
        },
        "title": "={{ $json.decision_id + ' · ' + $json.execution_result + ' · ' + $json.timestamp }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Decision ID|rich_text", "textContent": "={{ $json.decision_id }}" },
            { "key": "Domain|select", "selectValue": "Property" },
            { "key": "Execution Status|select", "selectValue": "={{ $json.execution_result }}" },
            { "key": "GUARDiAN Status|select", "selectValue": "={{ $json.guardian.status }}" },
            { "key": "Risk Score|number", "numberValue": "={{ $json.guardian.risk_score }}" },
            { "key": "Systems Updated|rich_text", "textContent": "={{ ($json.systems_updated || []).join(', ') }}" },
            { "key": "Actions|rich_text", "textContent": "={{ JSON.stringify($json.audit.actions).slice(0, 1999) }}" },
            { "key": "Execution Hash|rich_text", "textContent": "={{ $json.execution_hash }}" },
            { "key": "Receipt JSON|rich_text", "textContent": "={{ JSON.stringify($json).slice(0, 1999) }}" },
            { "key": "Environment|select", "selectValue": "DEV" },
            { "key": "Timestamp|date", "date": "={{ $json.timestamp }}" }
          ]
        },
        "options": {}
      },
      "id": "node-audit-exec",
      "name": "Save Audit — Executed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1840, 200],
      "notes": "Attach Notion credential in n8n UI (DEV sandbox project). Bug 26: cross-project creds can't attach via API."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build CIRO Feedback').item.json) }}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond — Executed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2040, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "002cc2e2-7033-4abd-9797-0af99d8c2cec",
          "mode": "id"
        },
        "title": "={{ $json.decision_id + ' · REJECTED_CONTRACT · ' + $json.timestamp }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Decision ID|rich_text", "textContent": "={{ $json.decision_id }}" },
            { "key": "Execution Status|select", "selectValue": "rejected" },
            { "key": "GUARDiAN Status|select", "selectValue": "={{ $json.guardian.status }}" },
            { "key": "Risk Score|number", "numberValue": "={{ $json.guardian.risk_score }}" },
            { "key": "Systems Updated|rich_text", "textContent": "={{ ($json.contract.violations || []).join('; ').slice(0, 1999) }}" },
            { "key": "Execution Hash|rich_text", "textContent": "={{ $json.execution_hash }}" },
            { "key": "Receipt JSON|rich_text", "textContent": "={{ JSON.stringify($json).slice(0, 1999) }}" },
            { "key": "Environment|select", "selectValue": "DEV" },
            { "key": "Timestamp|date", "date": "={{ $json.timestamp }}" }
          ]
        },
        "options": {}
      },
      "id": "node-audit-reject",
      "name": "Save Audit — Rejected",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1240, 380],
      "notes": "Contract-violation audit (GUARDiAN approved, contracts rejected). Violations are written into 'Systems Updated' and the full receipt into 'Receipt JSON' so no new DB column is required. Optional: add a 'Contract Violations|rich_text' column for cleaner reporting. Attach Notion credential in n8n UI."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ decision_id: $('Contract Validator').item.json.decision_id, status: $('Contract Validator').item.json.contract.status, violations: $('Contract Validator').item.json.contract.violations, registry_version: $('Contract Validator').item.json.contract.registry_version }) }}",
        "options": {}
      },
      "id": "node-respond-reject",
      "name": "Respond — Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Blocked by GUARDiAN — return the rejection reason (no execution).\nconst d = $input.first().json;\nreturn [{ json: { decision_id: d.decision_id, domain: d.domain, status: 'blocked', guardian: d.guardian, execution_hash: d.execution_hash, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-block",
      "name": "Guardian Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 560]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "002cc2e2-7033-4abd-9797-0af99d8c2cec",
          "mode": "id"
        },
        "title": "={{ $json.decision_id + ' · BLOCKED · ' + $json.timestamp }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Decision ID|rich_text", "textContent": "={{ $json.decision_id }}" },
            { "key": "Execution Status|select", "selectValue": "blocked" },
            { "key": "GUARDiAN Status|select", "selectValue": "={{ $json.guardian.status }}" },
            { "key": "Risk Score|number", "numberValue": "={{ $json.guardian.risk_score }}" },
            { "key": "Execution Hash|rich_text", "textContent": "={{ $json.execution_hash }}" },
            { "key": "Receipt JSON|rich_text", "textContent": "={{ JSON.stringify($json).slice(0, 1999) }}" },
            { "key": "Environment|select", "selectValue": "DEV" },
            { "key": "Timestamp|date", "date": "={{ $json.timestamp }}" }
          ]
        },
        "options": {}
      },
      "id": "node-audit-block",
      "name": "Save Audit — Blocked",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1040, 560],
      "notes": "Attach Notion credential in n8n UI (DEV sandbox project). Domain left unmapped — blocked decisions may be non-Property and the Domain select only has 'Property'."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Guardian Block').item.json) }}",
        "options": {}
      },
      "id": "node-respond-block",
      "name": "Respond — Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 560]
    }
  ],
  "connections": {
    "Decision Intake Webhook": { "main": [[{ "node": "GUARDiAN Gate", "type": "main", "index": 0 }]] },
    "GUARDiAN Gate": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": {
      "main": [
        [{ "node": "Contract Validator", "type": "main", "index": 0 }],
        [{ "node": "Guardian Block", "type": "main", "index": 0 }]
      ]
    },
    "Contract Validator": { "main": [[{ "node": "Contract Valid?", "type": "main", "index": 0 }]] },
    "Contract Valid?": {
      "main": [
        [{ "node": "Execute Property Actions", "type": "main", "index": 0 }],
        [{ "node": "Save Audit — Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Execute Property Actions": { "main": [[{ "node": "Verify Execution", "type": "main", "index": 0 }]] },
    "Verify Execution": { "main": [[{ "node": "Build CIRO Feedback", "type": "main", "index": 0 }]] },
    "Build CIRO Feedback": { "main": [[{ "node": "Save Audit — Executed", "type": "main", "index": 0 }]] },
    "Save Audit — Executed": { "main": [[{ "node": "Respond — Executed", "type": "main", "index": 0 }]] },
    "Save Audit — Rejected": { "main": [[{ "node": "Respond — Rejected", "type": "main", "index": 0 }]] },
    "Guardian Block": { "main": [[{ "node": "Save Audit — Blocked", "type": "main", "index": 0 }]] },
    "Save Audit — Blocked": { "main": [[{ "node": "Respond — Blocked", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
