n8n/execution-fabric-property-v1.json
{
  "name": "SECC-OS — Execution Fabric v1 (Property)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secc-os/execution-fabric",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Decision Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// GUARDiAN GATE — idempotency hash + field/risk validation.\n// Output: decision + guardian{status,reason,risk_score} + execution_hash.\nconst raw = $input.first().json;\nconst d = raw.body || raw;\nfunction hash(str){let h=5381;for(let i=0;i<str.length;i++){h=((h<<5)+h)+str.charCodeAt(i);h=h&0xffffffff;}return 'exh_'+(h>>>0).toString(16);}\nconst required = ['decision_id','domain','recommended_action','routing'];\nconst missing = required.filter(k => d[k] == null);\nconst systems = (d.routing && d.routing.systems) || [];\nconst execution_hash = hash(JSON.stringify({ id: d.decision_id, sys: systems, action: d.recommended_action }));\nlet status='approved', reason='passed guardian checks', risk=0.2;\nif (missing.length) { status='rejected'; reason='missing fields: '+missing.join(', '); risk=1.0; }\nelse if (String(d.domain).toLowerCase() !== 'property') { status='rejected'; reason='Execution Fabric v1 is Property-only'; risk=0.9; }\nelse if (/financial|pricing|rent|fee/i.test(d.recommended_action)) { status='requires_review'; reason='financial change requires human approval'; risk=0.7; }\n// NOTE: real idempotency dedupe should look up execution_hash in a persistent store\n// (Notion/Redis) and set status='rejected' (duplicate) if already executed.\nreturn [{ json: { ...d, guardian: { status, reason, risk_score: risk }, execution_hash } }];"
      },
      "id": "node-guardian",
      "name": "GUARDiAN Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.guardian.status }}",
              "rightValue": "approved",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// EXECUTE PROPERTY ACTIONS — routes the decision to system actions.\n// v1: SIMULATED success. Replace each block with a real HTTP Request / Notion\n// node when Yardi (Voyager API) + CRM IQ (fresh loginguid) access is available.\nconst d = $input.first().json;\nconst action = String(d.recommended_action || '').toLowerCase();\nconst executed = [];\n\n// Maintenance acceleration → Yardi work orders\n// REAL: POST {yardi}/workorders/create  { priority, unit, category, notes }\nif (/maintenance|backlog/.test(action)) {\n  executed.push({ system:'Yardi', action:'reprioritize_work_orders', payload:{ priority:'high', category:'turnover acceleration', notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\n// Leasing acceleration → CRM IQ tasks\n// REAL: POST {crmiq}/tasks  { type:'leasing_follow_up', cadence:'increased' }\nif (/leasing|outreach|tour/.test(action)) {\n  executed.push({ system:'CRM_IQ', action:'create_task_batch', payload:{ type:'leasing_follow_up', cadence:'increased', notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\n// Vacancy / unit readiness → Yardi unit status\nif (/occupancy|vacancy|readiness|turnover/.test(action)) {\n  executed.push({ system:'Yardi', action:'update_unit_readiness', payload:{ notes:'AI PMO decision '+d.decision_id }, result:'success' });\n}\nif (!executed.length) executed.push({ system:'none', action:'noop', result:'no_matching_route' });\n\n// Notion audit record (REAL: swap for a Notion 'create page' node → audit DB)\nconst audit = {\n  decision_id: d.decision_id,\n  actions: executed,\n  systems: [...new Set(executed.map(e => e.system))],\n  execution_hash: d.execution_hash,\n  timestamp: new Date().toISOString()\n};\nreturn [{ json: { ...d, executed, audit } }];"
      },
      "id": "node-execute",
      "name": "Execute Property Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// EXECUTION VERIFICATION — confirm each action landed.\nconst d = $input.first().json;\nconst acts = d.executed || [];\nconst verified = acts.filter(e => e.result === 'success');\nconst failed = acts.filter(e => e.result !== 'success' && e.system !== 'none');\nlet execution_status = 'success';\nif (failed.length && verified.length) execution_status = 'partial';\nelse if (!verified.length) execution_status = 'failed';\nreturn [{ json: { ...d, verification: { execution_status, verified_actions: verified.map(v => v.system+':'+v.action), failed_actions: failed.map(f => f.system+':'+f.action) } } }];"
      },
      "id": "node-verify",
      "name": "Verify Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CIRO FEEDBACK — the record that feeds the Outcome Attribution layer.\nconst d = $input.first().json;\nconst feedback = {\n  decision_id: d.decision_id,\n  execution_result: d.verification.execution_status,\n  systems_updated: d.verification.verified_actions,\n  execution_hash: d.execution_hash,\n  guardian: d.guardian,\n  audit: d.audit,\n  timestamp: new Date().toISOString(),\n  status: d.verification.execution_status === 'success' ? 'verified' : 'review'\n};\nreturn [{ json: feedback }];"
      },
      "id": "node-feedback",
      "name": "Build CIRO Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond — Executed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Blocked by GUARDiAN — return the rejection reason (no execution).\nconst d = $input.first().json;\nreturn [{ json: { decision_id: d.decision_id, status: 'blocked', guardian: d.guardian, execution_hash: d.execution_hash, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-block",
      "name": "Guardian Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-block",
      "name": "Respond — Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 520]
    }
  ],
  "connections": {
    "Decision Intake Webhook": { "main": [[{ "node": "GUARDiAN Gate", "type": "main", "index": 0 }]] },
    "GUARDiAN Gate": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": {
      "main": [
        [{ "node": "Execute Property Actions", "type": "main", "index": 0 }],
        [{ "node": "Guardian Block", "type": "main", "index": 0 }]
      ]
    },
    "Execute Property Actions": { "main": [[{ "node": "Verify Execution", "type": "main", "index": 0 }]] },
    "Verify Execution": { "main": [[{ "node": "Build CIRO Feedback", "type": "main", "index": 0 }]] },
    "Build CIRO Feedback": { "main": [[{ "node": "Respond — Executed", "type": "main", "index": 0 }]] },
    "Guardian Block": { "main": [[{ "node": "Respond — Blocked", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
