n8n/inbox-promotion-pmo-v1.json
{
  "name": "SECC-OS — Inbox Promotion v1 (Validated → PMO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "connector/promote",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-trigger",
      "name": "Promote Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "notes": "On-demand promotion. Add a cron trigger later if you want scheduled promotion sweeps."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "07a654a3826b4678b64076138283993a",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "node-query-inbox",
      "name": "Query Inbox Rows",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [460, 400],
      "alwaysOutputData": true,
      "notes": "Integration Inbox (Quarantine). Returns all rows; the code node filters Record Lifecycle = Validated + Entity Type = portfolio (n8n Notion select filters are unreliable — Bug 28 — so filter in code). Attach Notion credential in UI (Bug 26)."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3716457b-e0ff-4900-af01-1236c517f9f4",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "node-query-programs",
      "name": "Query Portfolio Programs",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 400],
      "alwaysOutputData": true,
      "notes": "PMO Portfolio Register. Used to resolve program name -> page id. Promotion UPDATES an existing program only; it never creates one. Attach Notion credential in UI."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// BUILD PMO UPDATES — promotion plan for Validated portfolio rows.\n// Reads Inbox rows + Portfolio programs (flat property_* fields; Bug 23/27).\n// Gate: only Record Lifecycle = 'Validated' AND Entity Type = 'portfolio'.\n// UPDATE-only: a row whose program name has no match in the Portfolio Register\n// is left Validated (NOT promoted, NOT created) so a human can map it.\nconst inbox = $('Query Inbox Rows').all();\nconst programs = $('Query Portfolio Programs').all();\n\n// program name (lowercased) -> page id\nconst progMap = {};\nfor (const p of programs) {\n  const name = String(p.json.property_name || '').trim().toLowerCase();\n  if (name) progMap[name] = p.json.id;\n}\n\nconst ragMap = { green: 'Green', yellow: 'Amber', red: 'Red' };\nconst today = new Date().toISOString().slice(0, 10);\nconst out = [];\n\nfor (const r of inbox) {\n  const j = r.json;\n  if (String(j.property_record_lifecycle || '') !== 'Validated') continue;\n  if (String(j.property_entity_type || '') !== 'portfolio') continue;\n\n  const program = String(j.property_program || '').trim();\n  const progPage = progMap[program.toLowerCase()];\n  if (!progPage) continue; // no matching program — leave Validated for manual mapping\n\n  const health = j.property_health_score == null ? null : Number(j.property_health_score);\n  const rag = ragMap[String(j.property_risk_level || '').toLowerCase()] || 'Amber';\n  const entityKey = String(j.property_entity_key || '');\n  const captured = String(j.property_captured_at || '');\n  const note = ('Promoted from Integration Inbox · ' + entityKey + ' · health ' + (health == null ? '?' : health) + ' · captured ' + captured).slice(0, 1999);\n\n  out.push({ json: {\n    inbox_page_id: j.id,\n    program,\n    program_page_id: progPage,\n    health_score: health,\n    rag_status: rag,\n    trajectory: String(j.property_trajectory || ''),\n    last_review: today,\n    status_note: note,\n    entity_key: entityKey,\n    promoted_at: new Date().toISOString()\n  }});\n}\n\nif (!out.length) return [{ json: { _empty: true, message: 'No Validated portfolio rows with a matching program to promote.' } }];\nreturn out;"
      },
      "id": "node-build",
      "name": "Build PMO Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-empty-if",
      "name": "Nothing to Promote?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ promoted: 0, message: $json.message }) }}",
        "options": {}
      },
      "id": "node-respond-none",
      "name": "Respond — Nothing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.program_page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Health Score|number", "numberValue": "={{ $json.health_score }}" },
            { "key": "RAG Status|select", "selectValue": "={{ $json.rag_status }}" },
            { "key": "Status Notes|rich_text", "textContent": "={{ $json.status_note }}" },
            { "key": "Last Review Date|date", "date": "={{ $json.last_review }}" }
          ]
        },
        "options": {}
      },
      "id": "node-update-pmo",
      "name": "Update PMO Program",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1340, 480],
      "notes": "UPDATE existing program (matched by name). Writes Health Score + RAG + Status Notes + Last Review Date — same fields Auto-Status Sync writes. Attach Notion credential in UI."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Build PMO Updates').item.json.inbox_page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Record Lifecycle|select", "selectValue": "Promoted" },
            { "key": "Promoted To|multi_select", "multiSelectValue": "PMO" },
            { "key": "Notes|rich_text", "textContent": "={{ 'Promoted to PMO program ' + $('Build PMO Updates').item.json.program + ' @ ' + $('Build PMO Updates').item.json.promoted_at }}" }
          ]
        },
        "options": {}
      },
      "id": "node-mark-promoted",
      "name": "Mark Inbox Promoted",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1560, 480],
      "notes": "Flips the Inbox row to Promoted and stamps Promoted To = 'PMO Portfolio Register' (the lifecycle gate's exit). Reads inbox_page_id from Build PMO Updates so the pairing survives the upstream Update node. Attach Notion credential in UI."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ promoted: $runIndex + 1, program: $('Build PMO Updates').item.json.program, lifecycle: 'Promoted', promoted_to: 'PMO' }) }}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond — Promoted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 480]
    }
  ],
  "connections": {
    "Promote Trigger": { "main": [[{ "node": "Query Inbox Rows", "type": "main", "index": 0 }]] },
    "Query Inbox Rows": { "main": [[{ "node": "Query Portfolio Programs", "type": "main", "index": 0 }]] },
    "Query Portfolio Programs": { "main": [[{ "node": "Build PMO Updates", "type": "main", "index": 0 }]] },
    "Build PMO Updates": { "main": [[{ "node": "Nothing to Promote?", "type": "main", "index": 0 }]] },
    "Nothing to Promote?": {
      "main": [
        [{ "node": "Respond — Nothing", "type": "main", "index": 0 }],
        [{ "node": "Update PMO Program", "type": "main", "index": 0 }]
      ]
    },
    "Update PMO Program": { "main": [[{ "node": "Mark Inbox Promoted", "type": "main", "index": 0 }]] },
    "Mark Inbox Promoted": { "main": [[{ "node": "Respond — Promoted", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
